<% provide(:title, "お気に入り") %>
<div class="row">
  <aside class="col-md-4">
    <div class='user_title'>
      <h1>お気に入り</h1>
    </div>
  </aside>
  
  <div class="col-md-8">
    <% if @likes.any? %>
      <ol class="microposts">
        <%= render @likes %>
      </ol>
      <%= will_paginate @likes, { :previous_label => '&lt 前へ', :next_label => '次へ &gt' } %>
    <% end %>
  </div>
</div>