@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color:#CBFFD3;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.icon{
  float:left;
  margin-top: 4px;
}

header.navbar{
  background-color:green;
  border-bottom:hidden;
}

.nav .open>a.dropdown-toggle,
.nav .open>a.dropdown-toggle:focus,
.nav .open>a.dropdown-toggle:hover,
.nav>li>a.dropdown-toggle:focus,
.nav>li>a.dropdown-toggle:hover {
    background-color: green;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.search-nav {
  width: 200px;
  padding-top: 9px;
  margin-left:50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    background-color:white;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 7px;
    }
  }
}

.gravatar {
  float: left;
  margin: 10px;
}

.gravatar_edit {
  margin-top: 5px;
  float: left;
  width:100%;
}

.stats {
  overflow: auto;
  background-color:white;
  /*margin-top: 0;
  padding: 0;*/
  margin-top: 5px;
  padding: 5px 10px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    clear:both;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 70px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .post_head {
    float: left;
    margin-left: 10px;
  }
  .post {
    clear: both;
  }
  .post_foot {
    float:left;
    width: 100%;
    .post_foot_item {
      display: block;
      float: left;
      margin-left: 70px;
    }
  }
  .share {
    color: gray;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* timeline */
.col-md-8{
  background-color: white;
  margin-top: 20px;
}

.follow_btn {
  margin-top: 5px;
}

/* microposts*/
.micropost-user-name{
  margin-left:0px;
}

.profile_show {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
}
/*　micropost_form */
.micropost_form {
  background-color:white;
  padding: 10px 5px 5px 5px;
  margin-top: 5px;
}

/* user_name post */
.font_color {
  color: black;
}

/* users */
.user_title {
  background-color: white;
  padding: 5px;
  margin-top: 20px;
}

.user_search {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}
/* profile */
.col-md-6 {
  background-color: white;
  padding: 15px;
}
.profile_edit {
　clear: both;
}
/* notice */
.notices {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .detail {
    display: block;
    clear: both;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
  }
}
/* accounts */
.accounts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .reason {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .detail {
    display: block;
    clear: both;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
  }
}
.request_form {
  height:100px;
}
.request_row {
  padding-bottom: 10px;
  
  .picture{
    display: block;
    padding-bottom: 20px;
  }
}
.title {
  background-color: white;
  padding: 5px;
  margin-top: 20px;
}
.request_menu {
  background-color: white;
  margin-top: 10px;
  padding: 20px 20px 20px 60px;
}
.notices_detail {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  .reason {
   }
  .detail{
    
  }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}


/*message*/
section.message_box {
  padding: 10px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;
}

.comment_form {
  background-color:white;
  padding: 10px 5px 5px 5px;
  margin-top: 20px;
  .field {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.accounts_making_info {
  background-color:white;
  margin-top: 20px;
}
